## Part 3

## COVID-19

Memuat dan mencetak informasi data set dasar:

In [1]:
import pandas as pd
df = pd.read_csv('ccaa_covid19_datos_isciii.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           893 non-null    object
 1   cod_ine         893 non-null    int64
 2   CCAA            893 non-null    object
 3   Casos           752 non-null    float64
 4   Hospitalizados  532 non-null    float64
 5   UCI             570 non-null    float64
 6   Fallecidos      570 non-null    float64
 7   Recuperados     549 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 55.9+ KB

In [2]:
#data set head
df.head()

,Fecha,cod_ine,CCAA,Casos,Hospitalizados,UCI,Fallecidos,Recuperados
0,2020-02-20,1,Andalucía,NaN,NaN,NaN,NaN,NaN
1,2020-02-20,2,Aragón,NaN,NaN,NaN,NaN,NaN
2,2020-02-20,3,Asturias,NaN,NaN,NaN,NaN,NaN
3,2020-02-20,4,Baleares,1.0,NaN,NaN,NaN,NaN
4,2020-02-20,5,Canarias,1.0,NaN,NaN,NaN,NaN

In [3]:
#dataset tail
df.tail()

,Fecha,cod_ine,CCAA,Casos,Hospitalizados,UCI,Fallecidos,Recuperados
888,2020-04-06,19,Melilla,92.0,40.0,3.0,2.0,11.0
889,2020-04-06,14,Murcia,1283.0,500.0,84.0,78.0,193.0
890,2020-04-06,15,Navarra,3355.0,1488.0,124.0,202.0,421.0
891,2020-04-06,16,País Vasco,9021.0,4856.0,417.0,586.0,3728.0
892,2020-04-06,17,La Rioja,2846.0,918.0,66.0,160.0,994.0

In [4]:
# hitung berapa banyak missing values di setiap kolomnya
df.isnull().sum()

Fecha               0
cod_ine             0
CCAA                0
Casos             141
Hospitalizados    361
UCI               323
Fallecidos        323
Recuperados       344
dtype: int64

### Menulis program Python untuk mendapatkan jumlah kasus yang dikonfirmasi, dirawat di rumah sakit, dipindahkan ke ICU, meninggal dan sembuh.

In [5]:
cases = df[['Fecha','Hospitalizados','UCI','Fallecidos','Recuperados']].groupby('Fecha')
cases.sum().sort_values('Fecha', ascending=False).head(1)

            Hospitalizados     UCI  Fallecidos  Recuperados
Fecha
2020-04-06         63093.0  7069.0     13798.0      43208.0

### Temukan jumlah terakhir dari kasus yang dikonfirmasi, meninggal dan dipulihkan oleh Komunitas:

In [6]:
community = df[['CCAA','Casos','Fallecidos','Recuperados']].groupby('CCAA')
community.sum().sort_values('Casos', ascending=False)

                       Casos  Fallecidos  Recuperados
CCAA
Madrid              479028.0     59066.0     161945.0
Cataluña            305025.0     25616.0      82249.0
Castilla La Mancha  109078.0     10885.0       7490.0
País Vasco          108397.0      5759.0      30228.0
Castilla y León     102533.0      8236.0      18777.0
Andalucía            98122.0      4529.0       4677.0
C. Valenciana        88299.0      5939.0       5823.0
Galicia              64799.0      1525.0       4279.0
Navarra              39164.0      1762.0       2982.0
Aragón               36484.0      2518.0       3521.0
La Rioja             32989.0      1412.0       7605.0
Extremadura          25751.0      2144.0       1732.0
Asturias             21563.0       856.0       1825.0
Canarias             21072.0       835.0       1181.0
Cantabria            17749.0       665.0        910.0
Baleares             17022.0       709.0       3339.0
Murcia               15746.0       512.0        869.0
Melilla               1062.0        18.0         46.0
Ceuta                  655.0        17.0         10.0

### Temukan jumlah kasus terbaru yang dikonfirmasi, dirawat di rumah sakit, dipindahkan ke ICU, meninggal dan pulih dari COVID-19 di Navarra

In [7]:
df.groupby('Fecha').sum().sort_values('Fecha', ascending=False).reset_index().head(1)

,Fecha,cod_ine,Casos,Hospitalizados,UCI,Fallecidos,Recuperados
0,2020-04-06,190,140510.0,63093.0,7069.0,13798.0,43208.0

### Temukan kolom baru dengan kasus aktif:

In [8]:
active = df.fillna(0)
active.loc[:,'Activos'] = active.Casos - active.Fallecidos - active.Recuperados
active.head()

,Fecha,cod_ine,CCAA,Casos,Hospitalizados,UCI,Fallecidos,Recuperados,Activos
0,2020-02-20,1,Andalucía,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-02-20,2,Aragón,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-02-20,3,Asturias,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-02-20,4,Baleares,1.0,0.0,0.0,0.0,0.0,1.0
4,2020-02-20,5,Canarias,1.0,0.0,0.0,0.0,0.0,1.0

### Temukan kapan kasus COVID-19 pertama dan kematian terjadi di Spanyol

In [9]:
# cari kasus pertama (casos)
active[active['Casos'] > 0].sort_values('Fecha').head(1)

,Fecha,cod_ine,CCAA,Casos,Hospitalizados,UCI,Fallecidos,Recuperados,Activos
3,2020-02-20,4,Baleares,1.0,0.0,0.0,0.0,0.0,1.0

In [10]:
# selediki kematian pertama ( falecidos )
active[active['Fallecidos'] > 0].sort_values('Fecha').head(1)

,Fecha,cod_ine,CCAA,Casos,Hospitalizados,UCI,Fallecidos,Recuperados,Activos
324,2020-03-08,2,Aragón,13.0,0.0,3.0,3.0,0.0,10.0

### Menemukan kapan kematian pertama kali terjadi di setiap Komunitas

In [11]:
comm = active[active['Fallecidos'] > 0].sort_values(['Fecha', 'CCAA'])
comm.groupby('CCAA').first().sort_values(['Fecha','CCAA']).reset_index()

,CCAA,Fecha,cod_ine,Casos,Hospitalizados,UCI,Fallecidos,Recuperados,Activos
0,Aragón,2020-03-08,2,13.0,0.0,3.0,3.0,0.0,10.0
1,C. Valenciana,2020-03-08,10,37.0,0.0,1.0,1.0,1.0,35.0
2,Cataluña,2020-03-08,9,75.0,0.0,0.0,2.0,0.0,73.0
3,Madrid,2020-03-08,13,469.0,0.0,53.0,16.0,0.0,453.0
4,País Vasco,2020-03-08,16,149.0,0.0,5.0,6.0,2.0,141.0
5,La Rioja,2020-03-09,17,144.0,0.0,1.0,1.0,0.0,143.0
6,Extremadura,2020-03-10,11,9.0,2.0,1.0,1.0,1.0,7.0
7,Asturias,2020-03-11,3,47.0,12.0,2.0,1.0,1.0,45.0
8,Baleares,2020-03-11,4,22.0,8.0,2.0,1.0,1.0,20.0
9,Castilla La Mancha,2020-03-11,8,115.0,39.0,9.0,1.0,2.0,112.0
10,Andalucía,2020-03-13,1,269.0,92.0,8.0,2.0,0.0,267.0
11,Canarias,2020-03-13,5,90.0,15.0,6.0,1.0,7.0,82.0
12,Castilla y León,2020-03-13,7,169.0,25.0,8.0,1.0,2.0,166.0
13,Galicia,2020-03-14,12,195.0,32.0,8.0,2.0,4.0,189.0
14,Navarra,2020-03-15,15,274.0,58.0,5.0,1.0,0.0,273.0
15,Cantabria,2020-03-17,6,68.0,25.0,3.0,1.0,10.0,57.0
16,Murcia,2020-03-20,14,240.0,61.0,14.0,1.0,1.0,238.0
17,Melilla,2020-03-25,19,39.0,16.0,2.0,1.0,0.0,38.0
18,Ceuta,2020-03-27,18,17.0,2.0,2.0,1.0,0.0,16.0

In [13]:
active[active['Fallecidos'] > 0].sort_values('Fecha').groupby('CCAA').head(1)

,Fecha,cod_ine,CCAA,Casos,Hospitalizados,UCI,Fallecidos,Recuperados,Activos
324,2020-03-08,2,Aragón,13.0,0.0,3.0,3.0,0.0,10.0
331,2020-03-08,9,Cataluña,75.0,0.0,0.0,2.0,0.0,73.0
333,2020-03-08,10,C. Valenciana,37.0,0.0,1.0,1.0,1.0,35.0
336,2020-03-08,13,Madrid,469.0,0.0,53.0,16.0,0.0,453.0
340,2020-03-08,16,País Vasco,149.0,0.0,5.0,6.0,2.0,141.0
360,2020-03-09,17,La Rioja,144.0,0.0,1.0,1.0,0.0,143.0
372,2020-03-10,11,Extremadura,9.0,2.0,1.0,1.0,1.0,7.0
386,2020-03-11,8,Castilla La Mancha,115.0,39.0,9.0,1.0,2.0,112.0
383,2020-03-11,4,Baleares,22.0,8.0,2.0,1.0,1.0,20.0
382,2020-03-11,3,Asturias,47.0,12.0,2.0,1.0,1.0,45.0
425,2020-03-13,7,Castilla y León,169.0,25.0,8.0,1.0,2.0,166.0
422,2020-03-13,5,Canarias,90.0,15.0,6.0,1.0,7.0,82.0
418,2020-03-13,1,Andalucía,269.0,92.0,8.0,2.0,0.0,267.0
449,2020-03-14,12,Galicia,195.0,32.0,8.0,2.0,4.0,189.0
472,2020-03-15,15,Navarra,274.0,58.0,5.0,1.0,0.0,273.0
499,2020-03-17,6,Cantabria,68.0,25.0,3.0,1.0,10.0,57.0
566,2020-03-20,14,Murcia,240.0,61.0,14.0,1.0,1.0,238.0
660,2020-03-25,19,Melilla,39.0,16.0,2.0,1.0,0.0,38.0
693,2020-03-27,18,Ceuta,17.0,2.0,2.0,1.0,0.0,16.0